* {
  font-family: "Roboto", sans-serif;
}

/* button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
} */

.calculator-body{
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 29, 29);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.5);
  width: 232px;
}

.calculator-visor{
  color: white;
  font-size: 64px;
  padding: 0;
  margin: 0;
  text-align: end;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btns-operations{
  display: flex;
}

.btns-reset{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

button {
  width: 64px;
  height: 64px; 
  border: 0;
  padding: 8px;
  border-radius: 50%;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  color: white;
  background-color: darkgoldenrod;
  margin-bottom: 16px;
}

button:hover {
  background-color: rgb(141, 103, 8);
}

.btns-reset button {
  background-color: grey;
}

.btns-reset button:hover {
  background-color: darkslategrey;
}

input{
  margin:16px 0px;
  height: 64px;
  font-size: 24px;
  background-color: transparent;
  border: 0;
  text-align: end;
  border-top: 1px solid grey;
  color: white;
}